<div>
  <div class="chart" id="{{ this.type }}" #parent>
    <ng-container #container></ng-container>
  </div>
</div>

<ng-template #node let-tech let-item="item">
  <div id="{{ tech.key }}"
        [class.active]="tech.tier < 1 || tech.active"
        [class.rare]="tech.is_rare" [class.dangerous]="tech.is_dangerous">
    <div class="icon lozad" [attr.data-background-image]="'/assets/img/' + tech.key +'.png'"></div>
    <p class="node-name" title="{{tech.name}}">{{tech.name}}</p>
    <p class="node-title">
      {{ tech.category }} -
      <span class="tier tier-{{tech.tier}}" *ngIf="tech.tier > 0">Tier {{tech.tier}}</span>
      <span class="tier tier-0" *ngIf="tech.tier == 0">Starting</span>
    </p>
    <p class="node-desc">
      <ng-container *ngIf="tech.tier > 0">
        Cost: <span class="{{tech.area}}-research">{{tech.cost}}, Weight: {{tech.base_weight}}</span>
      </ng-container>
    </p>
    <p class="node-desc">
      <ng-template #ethic let-image="image" let-value="value">
        <img src="/assets/icons/{{value ? 'yes' : 'no'}}.png"><img src="/assets/icons/{{image}}.png">
      </ng-template>
      <ng-container *ngFor="let civic of civics">
        <ng-container *ngIf="civic.value(tech) !== undefined">
          <ng-container *ngTemplateOutlet="ethic; context: {value: civic.value(tech), image: civic.image}"></ng-container>
        </ng-container>
      </ng-container>
    </p>
    <div class="node-status" (click)="toggleActivation(item)"></div>
  </div>
</ng-template>


