<div>
  <div class="chart" id="{{ this.type }}" #parent>
    <ng-container #container></ng-container>
  </div>
</div>

<ng-template #break>
  <div class="break"></div>
</ng-template>

<ng-template #node let-tech let-item="item">
  <div id="{{ tech.key }}" [tippy]="tooltip" [data]="tech"
        [class.active]="tech.tier < 1 || tech.active"
        [class.rare]="tech.is_rare" [class.dangerous]="tech.is_dangerous">

    <div class="icon lozad" [attr.data-background-image]="'assets/img/' + tech.key +'.png'"></div>
    <p class="node-name" title="{{tech.name}}">{{tech.name}}</p>
    <p class="node-title">
      {{ tech.category }} -
      <span class="tier tier-{{tech.tier}}" *ngIf="tech.tier > 0">Tier {{tech.tier}}</span>
      <span class="tier tier-0" *ngIf="tech.tier == 0">Starting</span>
    </p>
    <p class="node-desc">
      <ng-container *ngIf="tech.tier > 0">
        Cost: <span class="{{tech.area}}-research">{{tech.cost}}, Weight: {{tech.base_weight}}</span>
      </ng-container>
      <ng-container *ngIf="tech.tier == 0">&#160;</ng-container>
    </p>
    <ng-container *ngIf="tech.dlc">
      <div class="node-status" style="background-image: url('assets/img/dlc/{{ tech.dlc }}.png')"></div>
    </ng-container>
  </div>
</ng-template>

<ng-template #tooltip let-tech="data">
  <div class="extra-data">
    <div class="tooltip-header">Description</div>
    <div class="tooltip-content" style="max-width:320px">
      {{tech.description}}
    </div>

    <ng-container *ngIf="tech.weight_modifiers.length > 0">
      <div class="tooltip-header" style="margin-top: 10px;">Weight Modifiers</div>
      <div class="tooltip-content"><pre [innerHTML]="tech.weight_modifiers.join('<br>')  | techText| safeHtml"></pre></div>
    </ng-container>

    <ng-container *ngIf="tech.potential.length > 0">
      <div class="tooltip-header" style="margin-top: 10px;">Requirements</div>
      <div class="tooltip-content"><pre [innerHTML]="tech.potential.join('<br/>')  | techText| safeHtml"></pre></div>
    </ng-container>

    <ng-container *ngIf="tech.prerequisites.length > 1">
      <div class="tooltip-header" style="margin-top: 10px;">Required Technologies</div>
      <div class="tooltip-content prerequisites">
        <img *ngFor="let req of tech.prerequisites" class="left {{req | techArea}}" height="52" width="52" src="assets/img/{{req}}.png">
        <div class="left">
          <ng-container *ngFor="let req of tech.prerequisites_names">
            <span class="node-status">{{req.name}}</span><br/>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tech.feature_unlocks.length > 0">
      <div class="tooltip-header" style="margin-top: 10px;">Research Effects</div>
      <div class="tooltip-content" [innerHTML]="tech.feature_unlocks.join('<br/>') | techText| safeHtml"></div>
    </ng-container>
  </div>
</ng-template>



