<div>
  <div class="chart" id="{{ this.type }}" #parent>
    <ng-container #container></ng-container>
  </div>
</div>

<ng-template #node let-tech let-item="item">
  <div id="{{ tech.key }}" [tippy]="tooltip" [data]="tech"
        [class.active]="tech.tier < 1 || tech.active"
        [class.rare]="tech.is_rare" [class.dangerous]="tech.is_dangerous" [class.disabled]="item.disabled">

    <div class="icon lozad" [attr.data-background-image]="'assets/img/' + tech.key +'.png'"></div>
    <p class="node-name" title="{{tech.name}}">{{tech.name}}</p>
    <p class="node-title">
      {{ tech.category }} -
      <span class="tier tier-{{tech.tier}}" *ngIf="tech.tier > 0">Tier {{tech.tier}}</span>
      <span class="tier tier-0" *ngIf="tech.tier == 0">Starting</span>
    </p>
    <p class="node-desc">
      <ng-container *ngIf="tech.tier > 0">
        Cost: <span class="{{tech.area}}-research">{{tech.cost}}, Weight: {{tech.base_weight}}</span>
      </ng-container>
    </p>
    <p class="node-desc">
      <ng-template #ethic let-image="image" let-value="value">
        <img src="assets/icons/{{value ? 'yes' : 'no'}}.png"><img src="assets/icons/{{image}}.png">
      </ng-template>
      <ng-container *ngFor="let civic of civics">
        <ng-container *ngIf="civic.value(tech) !== undefined">
          <ng-container *ngTemplateOutlet="ethic; context: {value: civic.value(tech), image: civic.image}"></ng-container>
        </ng-container>
      </ng-container>
    </p>
    <div class="node-status" (click)="toggleActivation($event, item)"></div>
  </div>
</ng-template>

<ng-template #tooltip let-tech="data">
  <div class="extra-data">
    <div class="tooltip-header">Description</div>
    <div class="tooltip-content" style="max-width:320px">
      {{tech.description}}
    </div>

    <ng-container *ngIf="tech.weight_modifiers.length > 0">
      <div class="tooltip-header">Weight Modifiers</div>
      <div class="tooltip-content"><pre [innerHTML]="tech.weight_modifiers.join('<br>')  | techText| safeHtml"></pre></div>
    </ng-container>

    <ng-container *ngIf="tech.potential.length > 0">
      <div class="tooltip-header">Requirements</div>
      <div class="tooltip-content"><pre [innerHTML]="tech.potential.join('<br/>')  | techText| safeHtml"></pre></div>
    </ng-container>

    <ng-container *ngIf="tech.prerequisites.length > 1">
      <div class="tooltip-header">Required Technologies</div>
      <div class="tooltip-content prerequisites">
        <img *ngFor="let req of tech.prerequisites" class="left {{req | techArea}}" height="52" width="52" src="assets/img/{{req}}.png">
        <div class="left">
          <ng-container *ngFor="let req of tech.prerequisites_names">
            <span class="node-status">{{req.name}}</span><br/>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="tech.feature_unlocks.length > 0">
      <div class="tooltip-header">Research Effects</div>
      <div class="tooltip-content" [innerHTML]="tech.feature_unlocks.join('<br/>') | techText| safeHtml"></div>
    </ng-container>
  </div>
</ng-template>



