<nav class="menu">
    <div class="nav">
    <a [class.selected]="selected==0" (click)="click(0)">
      <img src="assets/icons/research_icon.png"> All
    </a>
    <a [class.selected]="selected==1" (click)="click(1)">
      <img src="assets/icons/physics_research.png"> Physics
    </a>
    <a [class.selected]="selected==2" (click)="click(2)">
      <img src="assets/icons/society_research.png"> Society
    </a>
    <a [class.selected]="selected==3" (click)="click(3)">
      <img src="assets/icons/engineering_research.png"> Engineering
    </a>
    <a class="separator"></a>
    <a class="version">Version :
    <select #v (change)="this.selected = 0;this.selectedVersion = v.value">
      <option *ngFor="let version of versions" value="{{ version.route }}">{{ version.title }}</option>
    </select>
    </a>
  </div>
</nav>
<main class="main">
  <tech-tree type="physics" [class.hide]="selected!=0 && selected!=1" [version]="this.selectedVersion"></tech-tree>
  <tech-tree type="society" [class.hide]="selected!=0 && selected!=2" [version]="this.selectedVersion"></tech-tree>
  <tech-tree type="engineering" [class.hide]="selected!=0 && selected!=3" [version]="this.selectedVersion"></tech-tree>
</main>
